<!DOCTYPE html>
<html>
    <head>
        <title>Ruby on Rails lab04</title>
    </head>
    <style>
        * {
        text-align: center;
        color: #20C20E;
        }
        table {
        	border-color: #20C20E;
        }
    </style>
    <body style="background-color: black;">
        <h1> Ruby on Rails lab04</h1>
        <div>
        	<p>Table 1</p>
            <table border="1" rules="all" width="720px" height="160px" align="center">
                <tr>
                    <td colspan="7"></td>
                </tr>
                <tr>
                    <td rowspan="5"></td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td rowspan="4"></td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td rowspan="3"></td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td rowspan="2"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
            </table>
            <p> Table 2</p>
            <table border="1" rules="all" width="720px" height="160px" align="center">
                <tr>
                    <td rowspan="8"></td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td rowspan="7"></td>
                    <td colspan="5"></td>
                </tr>
                <tr>
                    <td rowspan="6"></td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td rowspan="5"></td>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td rowspan="4"></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td rowspan="3"></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2"></td>
                </tr>
            </table>
            <p> Table 3</p>
            <table border="1" rules="all" width="720px" height="160px" align="center">
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                </tr>
            </table>
            <p>Table 4</p>
            <table border="1" rules="all" width="720px" height="160px" align="center">
                <tr>
                    <td rowspan="3"></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="3"></td>
                    <td></td>
                    <td rowspan="2"></td>
                    <td rowspan="3"></td>
                </tr>
                <tr>
                    <td rowspan="3"></td>
                    <td rowspan="3"></td>
                </tr>
                <tr>
                    <td rowspan="3"></td>
                    <td rowspan="3"></td>
                </tr>
                <tr>
                    <td rowspan="3"></td>
                    <td rowspan="3"></td>
                    <td rowspan="3"></td>
                </tr>
                <tr>
                    <td rowspan="3"></td>
                    <td rowspan="3"></td>
                </tr>
                <tr>
                    <td rowspan="3"></td>
                    <td rowspan="3"></td>
                </tr>
                <tr>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
</html>